.toggle-switch {
  position: relative;
  width: 60px;      /* antes 100px */
  height: 30px;     /* antes 50px */
  --light: #d8dbe0;
  --dark: #28292c;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: var(--dark);
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid var(--dark); /* antes 3px */
}

.checkbox {
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--dark);
  box-shadow: inset 8px -3px 0px 0px var(--light);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px);
  box-shadow: none;
}
